[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/threesome"]
	path = vim/bundle/threesome
	url = git://github.com/sjl/threesome.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-comentary"]
	path = vim/bundle/vim-comentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-node.js"]
	path = vim/bundle/vim-node.js
	url = git://github.com/mmalecki/vim-node.js.git
